header,

p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid #5d5d5d;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  background-color: #fff;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;

}

th {
  border-bottom: 2px solid #354a5f;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  opacity: .9;
  color: white;
  text-align: center;
}

tr:nth-child(even) {

  background-color: black;
  opacity: 0.5;
  color: white;


}

tr:hover {
  background-color: black;
  color: white;
  opacity: 0.3;
}

td {
  text-align: center;
  padding: 8px;
}

header {
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 60px;

}


/* https://dev.to/0shuvo0/pure-css-infinite-spacegalaxy-with-just-one-div-4o02 */
.bg-galaxy {
  position: relative;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -24vw -44vh 2px 2px #fff, 38vw -4vh 0px 0px #fff, -20vw -48vh 1px 2px #fff, -39vw 38vh 3px 1px #fff, -42vw -11vh 0px 3px #fff, 12vw 15vh 3px 3px #fff, 42vw 6vh 3px 2px #fff, -8vw 9vh 0px 2px #fff, 34vw -38vh 1px 0px #fff, -17vw 45vh 3px 1px #fff, 22vw -36vh 3px 2px #fff, -42vw 1vh 1px 0px #fff;
  animation: zoom 11s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.5);
  }
}





.spinning-Low {
  animation: spin 10s linear infinite;
}
.spinning-Medium {
  animation: spin 5s linear infinite;
}
.spinning-High {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(340deg);
  }
}

